<div class="center">
  <h1>Login</h1>
  <img src="https://github.com/rudenko9/car-reviews/blob/master/public/images/dodge.jpg?raw=true" height="300", width="400"/>

  <h3 class="error-msg">
    <% if flash.has?(:login_error) %>
    <%= flash[:login_error] %>
    <% end %>
  </h3>

  <form action="/login" method="POST">
    <fieldset class="center">
      <legend>Login</legend>
      <lable for="name">User Name:</lable>
      <input type="text" id="name" name="user_name"/>
      <br/>
      <lable for="user_password">Password:</lable>
      <input type="password" id="user_password" name="password"/>
      <br/>
      <button type="submit">Submit</button>
    </fieldset>
  </form>

  <br/>
  <a href="/">Go Back</a>
  <br/>
  <a href="/signup">Sign Up</a>
</div>
