<div class="center">
  <h1>Login</h1>
  <form class="center" action="/login" method="POST">
    <lable for="name">User Name:</lable>
    <input type="text" id="name" name="user_name"/>
    <br/>
    <lable for="user_password">Password:</lable>
    <input type="password" id="user_password" name="password"/>
    <br/>
    <input type="submit" value="Submit">
  </form>
  <a href="/">Go Back</a>
  <br/>
  <a href="/signup">Sign Up</a>
</div>
