<div class="center">
  <h1>Sign Up</h1>
  <h2 style="color: red">
    <% if flash.has?(:error_message) %>
    <%= flash[:error_message] %>
    <% end %>
  </h2>

  <form action="/signup" method="POST" class="center">
    <lable for="name">User Name:</lable>
    <input type="text" id="name" name="user_name"/>
    <br/>
    <lable for="user_password">Password:</lable>
    <input type="password" id="user_password" name="password"/>
    <br/>
    <input type="submit" value="Submit">
  </form>
  <a href="/">Go Back</a>
</div>
