<div class="center">
  <h1>Sign Up</h1>
  
  <img src="https://github.com/IgorRud23/festival-reviews/blob/master/public/images/ggg.jpg?raw=true" height="300", width=600"/>

  <h3 class="error-msg">
    <% if flash.has?(:signup_error) %>
    <%= flash[:signup_error] %>
    <% end %>
  </h3>

  <form action="/signup" method="POST">
      <fieldset class="center">
        <legend>Signup</legend>
        <lable for="name">User Name:</lable>
        <input type="text" id="name" name="user_name"/>
        <br/>
        <lable for="user_password">Password:</lable>
        <input type="password" id="user_password" name="password"/>
        <br/>
        <button type="submit">Submit</button>
      </fieldset>
  </form

  <br/>
  <a href="/">Go Back</a>
</div>
