<div class="center">
  <h1>Add New Festival</h1>

  <h3 class="error-msg">
    <% if flash.has?(:new_festival_error) %>
    <%= flash[:new_festival_error] %>
    <% end %>
  </h3>

  <form action="/festivals/new" method="POST">
      <fieldset class="center">
        <legend>New</legend>
        <lable for="festival-name">Name of Festival:</lable>
        <input type="text" id="festival-name" name="festival_name"/>
        <br/>
        <button type="submit">Add Festival</button>
      </fieldset>
  </form

  <a href="/festivals">
    Back to Festivals list
  </a>
</div>
