<header class="center">
  <h1>Welcome to Festivals Reviews App</h1>
  <h5>check what people think about it and leave your own opinion</h5>

  <img src="https://github.com/IgorRud23/festival-reviews/blob/master/public/images/ggg.jpg?raw=true" height="300", width=600"/>

<div >
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
</div>

</header>
